.container {
    position: absolute;
    box-sizing: content-box;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgba(135, 135, 135, 0.3);
}
