.container {
    position: absolute;
    border-radius: 50%;
}

.canSelectBall {
    cursor: pointer;
}

.animateOut {
    transition: top 0.3s;
}

.animateIn {
    transition: left 0.3s linear, top 0.3s 0.3s;
}
