.container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/button.png');
    background-size: cover;
    width: 145px;
    height: 40px;
    margin-top: 28px;

    color: navy;
    transition: background-color 0.07s linear;
    font-size: 22px;
}

.container:hover {
    cursor: pointer;
}

.container:active {
    transform: translate(1px, 1px);
}
